<div class="PopUp-Container Alert">
    <form class="Form">
      <div class="PopUp-header">
        <h3>تأكيد الحذف</h3>
        <i onclick="Hide_Container()" class="bx bx-x X-Toast"></i>
      </div>
      <div class="PopUp-body">
        <h4>هل أنت متأكد أنك تريد حذف البيانات ؟</h4>
      </div>
      <div class="PopUp-footer">
        <button type="button" onclick="CRUD_Data(event)" id="" class="btn btn-Delete">Delete Data</button>
        <button type="button" onclick="Hide_Container()" class="btn btn-Cansel">Cansel</button>
      </div>
    </form>
  </div>